.legalTable {
    font-family: Roboto, sans-serif;
    border-collapse: collapse;
    width: 100vw;
}

.legalTable td {
    border: 1px solid #ddd;
    padding: 8px;
}


.legalTable tr th {
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d3f9f9;
    font-size: 24px;

}

.legalTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.legalTable tr:hover {
    background-color: #ddd;
}